{% extends "base.html.twig" %}


{% block body %}
    <h2>Analisador Léxico</h2>
    <form method="post" action="{{ path('home') }}">

        <div class="form-group">
            <textarea class="form-control" name="mensagem" id="campoMensagem" placeholder="Digite o codigo" required></textarea>
        </div>
        <button type="submit" id="btn" class="btn btn-success">Analisar</button>
    </form>
    <h3><strong>Resultados</strong></h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <th>CÓDIGO</th>
            <th>TOKEN</th>
            <th>DESCRIÇÃO</th>
        </thead>
        <tbody>

        {% for token in listTokens %}
            <tr>
                <td>{{ token.code }}</td>
                <td>{{ token.name }}</td>
                <td>{{ token.description }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}